
/////////////////CAJA PARTICULASS/////////////////////////

.contParticulas{
    //margin-top:100px;
    width: 100%;
    //max-width: 1350px;
    margin: auto;
    height: 100vh;
    background-image: url(../img/desarrollando.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    #particles-js{
        width: 100%;
        height: 100vh;
        background: $colorAzulTransparente;
        position: relative;
        display: flex;
        justify-content: center;

        .titulo_principal{
            text-align: center;
            color:$colorVerde;
            font-size: 50px;
            position: absolute;
            top: 100px;
            line-height:50px;
        }
        @media only screen and (max-width:380px){
            .titulo_principal{
                font-size: 43px;
                line-height: 40px;
            }
        }

        .subtitle{
            text-align: center;
            color:$colorCelesteOscuro;
            font-size: 25px;
            position: absolute;
            top: 205px;
            //background: green;
            .front_css_js{
                color: $colorVerde;
                font-family: 'Oswald', sans-serif;
                font-style: normal;
            }
        }
        @media (min-width:0px) and (max-width:380px){
            .subtitle{
                top: 190px;
                font-size: 20px;
            }
        }
        



        ////////////////////FOOTER/////////////////////////
        .contFooter{
            width:100%;
            padding: 5px 0px;
            background: $colorAzulTransparente;
            //background: orange;
            position: absolute;
            bottom: 0;
            .contFooter_cuadroBase{
                width: 70%;
                margin: auto;
                //background: red;
                padding: 3px 0px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                .contFooter_cuadroBase_caja{
                    background: transparent;
                    .IconRed{
                        font-size: 30px;
                        color:$colorVerde;
                        transform:  rotateY(25deg);
                        transition: all 0.2s;
                    }
                    .IconRed:hover{
                        color: $colorCelesteOscuro;
                        transform: rotate(360deg);
                        cursor: pointer;
                    }  
                    .caja__parra{
                        color: white;
                    }  
                }
            }
        }

        @media (min-width:770px) and (max-width:1024px){
           .contFooter{
               //background: firebrick;
               .contFooter_cuadroBase{
                width: 90%;
            }
           }
        }
        @media (min-width:641px) and (max-width:769px){
            .contFooter{
                //background: rgb(135, 178, 34);
                .contFooter_cuadroBase{
                    width: 90%;
                }
            }
        }
        @media (min-width:481px) and (max-width:640px){
            .contFooter{
                //background: rgb(34, 44, 178);
                .contFooter_cuadroBase{
                    width: 95%;
                    .contFooter_cuadroBase_caja{
                        background: transparent;
                        .IconRed{
                            font-size: 25px;
                        }
                        .caja__parra{
                            color: white;
                            font-size: 12px;
                        }  
                    }
                }
            }
        }
        @media (min-width:20px) and (max-width:480px){
            .contFooter{
                //background: rgb(175, 84, 84);
                .contFooter_cuadroBase{
                    //background: firebrick;
                    width: 70%;
                    .contFooter_cuadroBase_caja{
                        background: transparent;
                        .IconRed{
                            font-size: 25px;
                        }
                        .caja__parra{
                            color: white;
                            font-size: 12px;
                            display: none;
                        }  
                    }
                }
            }
        }
    }
}








